---
layout: page
permalink: /publications/
---

<div>
    <h2>Research & Services</h2>
    <h3><a href="#services">Services</a> | <a href="#book">Book</a> | <a href="#papers">Publications</a> | <a href="#datasets">Datasets</a></h3>
    <h3 id="services">Services</h3>
    <p>Served as Program Committee Member/Invited Reviewer at some of the leading conferences in Machine Learning:</p>
    <ul>
        <li> <a href="https://www2023.thewebconf.org/">The ACM Web Conference (TheWebConf) 2023</a>
        <li> <a href="https://uobevents.eventsair.com/cikm2023/">ACM's International Conference on Information and Knowledge Management (CIKM) 2023</a>
        <li> <a href="https://icml.cc/Conferences/2022">International Conference on Machine Learning (ICML) 2022</a>
        <li> <a href="https://www.kdd.org/kdd2022/">ACM’s Conference on Knowledge Discovery and Data Mining (SIGKDD) 2022</a>
        <li> <a href="https://sigir.org/sigir2022/">ACM’s Special Interest Group in Information Retrieval (SIGIR) 2022</a>, <a href="https://sigir.org/sigir2023/" target="_blank">2023</a>
        <li> <a href="https://icdm22.cse.usf.edu/">IEEE International Conference on Data Mining (ICDM) 2022</a>    
        <li> <a href="https://recsys.acm.org/recsys22/">ACM’s Conference on Recommender Systems (RecSys) 2022</a>
        <li> <a href="https://2022.ecmlpkdd.org/">European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (ECML‑PKDD) 2022</a>
        <li> <a href="https://www.icwsm.org/2022/index.html/">International AAAI Conference on Web and Social Media (ICWSM) 2022</a>, <a href="https://www.icwsm.org/2023/index.html/">2023</a>    
        <li> <a href="https://dl.acm.org/journal/tors">ACM Transactions on Recommender Systems (TORS) 2022.</a>
        <li> <a href="https://www.iaria.org/conferences2022/ComDBKDA22.html">International Conference on Advances in Databases, Knowledge, and Data Applications (DBKDA) 2022</a>
        <li> <a href="https://www.scipy2019.scipy.org/">Scientific Computing with Python (SciPy) 2019</a> 
    </ul>
    
    <h3 id="book">Book</h3>
    <p><a href="https://www.google.com/books/edition/Sculpting_Data_for_ML/J4knzgEACAAJ?hl=en"><b>Sculpting Data for ML: The first act of Machine Learning</b></a></p>
    <p> The book is endorsed by <a href="https://rishabhmisra.github.io/foreword-by-julian-mcauley.html">Julian McAuley, Professor at UC San Diego</a>, <a href="https://rishabhmisra.github.io/foreword-by-laurence-moroney.html">Laurence Moroney, AI Lead Advocate at Google</a>, and <a href="https://rishabhmisra.github.io/foreword-by-mengting-wan.html">Mengting Wan, Senior Applied Scientist at Microsoft</a>. </p>
    <p> <b>Abstract</b>: In the contemporary world of Artificial Intelligence and Machine Learning, _data is the new oil_. For Machine Learning algorithms to work their magic, it is imperative to lay a firm foundation with relevant data. <b>Sculpting Data for ML</b> introduces the readers to the first act of Machine Learning, Dataset Curation. This book puts forward practical tips to identify valuable information from the extensive amount of crude data available at our fingertips. The step-by-step guide accompanies code examples in Python from the extraction of real-world datasets and illustrates ways to hone the skills of extracting meaningful datasets. In addition, the book also dives deep into how data fits into the Machine Learning ecosystem and tries to highlight the impact good quality data can have on the Machine Learning system's performance.</p>
<!--     <center> <iframe type="text/html" width="336" height="550" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.com/kp/card?asin=B08RN47C5T&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_1mIeGbSZ013C3&tag=mobile0a1329f-20" ></iframe> </center> -->
    
    <h3 id="papers">Publications</h3>
    <ul>
        
        <li> <a href="https://link.springer.com/book/10.1007/978-3-031-34006-2"><b>Springer Nature's Data Protection in a Post-Pandemic Society</b></a>
            <ul>
                <li> <b>Keeping it Low-Key: Modern-Day Approaches to Privacy-Preserving Machine Learning</b> <br> Book Chapter by Rishabh Misra and Jigyasa Grover, published in Springer Nature Book "Data Protection in a Post-Pandemic Society", July 2023, ISBN: 978-3-031-34005-5.
                <li> <a href="https://link.springer.com/chapter/10.1007/978-3-031-34006-2_2">Book Chapter</a>
                <li> <details> <summary>Citation Information</summary>
                    <br>
                    <b>Text format</b>: {% include publications title_search="Keeping it Low-Key: Modern-Day Approaches to Privacy-Preserving Machine Learning" style="mla" link=true %}
                    <br> <b>BibTex format</b>: <br>
                    <code>
                            @incollection{grover2023keeping, <br>
                              &nbsp;&nbsp;title={Keeping it Low-Key: Modern-Day Approaches to Privacy-Preserving Machine Learning}, <br>
                              &nbsp;&nbsp;author={Grover, Jigyasa and Misra, Rishabh}, <br>
                              &nbsp;&nbsp;booktitle={Data Protection in a Post-Pandemic Society}, <br>
                              &nbsp;&nbsp;pages={49--78}, <br>
                              &nbsp;&nbsp;year={2023}, <br>
                              &nbsp;&nbsp;publisher={Springer} <br>
                            }
                    </code>
                    </details>
            </ul>
        <li> <a href="https://www.sciencedirect.com/journal/ai-open"><b>Journal AI Open</b></a>
            <ul>
                <li> <b>Sarcasm Detection using News Headlines Dataset</b> <br> <b>Rishabh Misra</b> and Prahal Arora, in Proceedings of journal AI Open, Volume 4, 2023, ISSN 2666‑6510, Feb. 2023. 
                <li> <a href="https://doi.org/10.1016/j.aiopen.2023.01.001">Paper</a> | <a href="https://github.com/rishabhmisra/Sarcasm-Detection-using-NN">Code</a> 
                <li> <details> <summary>Citation Information</summary>
                    <br>
                    <b>Text format</b>: {% include publications title_search="Sarcasm Detection using News Headlines Dataset" style="mla" link=true %}
                    <br> <b>BibTex format</b>: <br>
                    <code>
                            @article{misra2023Sarcasm, <br>
                                &nbsp;&nbsp;title = {Sarcasm Detection using News Headlines Dataset},<br>
                                &nbsp;&nbsp;journal = {AI Open},<br>
                                &nbsp;&nbsp;volume = {4},<br>
                                &nbsp;&nbsp;pages = {13-18},<br>
                                &nbsp;&nbsp;year = {2023},<br>
                                &nbsp;&nbsp;issn = {2666-6510},<br>
                                &nbsp;&nbsp;doi = {https://doi.org/10.1016/j.aiopen.2023.01.001},<br>
                                &nbsp;&nbsp;url = {https://www.sciencedirect.com/science/article/pii/S2666651023000013},<br>
                                &nbsp;&nbsp;author = {Rishabh Misra and Prahal Arora},<br>
                            }
                    </code>
                    </details>
            </ul>
        <li> <a href="https://link.springer.com/book/9783031108716"><b>Springer Nature's Deep Learning for Social Media Data Analytics</b></a>
            <ul>
                <li> <b>Do Not ‘Fake It Till You Make It’! Synopsis of Trending Fake News Detection Methodologies Using Deep Learning</b> <br> Book Chapter by Rishabh Misra and Jigyasa Grover, published in Springer Nature Book "Deep Learning for Social Media Data Analytics", September 2022, ISBN: 978-3-031-10868-6.
                <li> <a href="https://link.springer.com/chapter/10.1007/978-3-031-10869-3_12">Book Chapter</a>
                <li> <details> <summary>Citation Information</summary>
                    <br>
                    <b>Text format</b>: {% include publications title_search="Do Not ‘Fake It Till You Make It’! Synopsis of Trending Fake News Detection Methodologies Using Deep Learning" style="mla" link=true %}
                    <br> <b>BibTex format</b>: <br>
                    <code>
                            @incollection{misra2022not, <br>
                              &nbsp;&nbsp;title={Do Not ‘Fake It Till You Make It’! Synopsis of Trending Fake News Detection Methodologies Using Deep Learning}, <br>
                              &nbsp;&nbsp;author={Misra, Rishabh and Grover, Jigyasa}, <br>
                              &nbsp;&nbsp;booktitle={Deep Learning for Social Media Data Analytics}, <br>
                              &nbsp;&nbsp;pages={213--235}, <br>
                              &nbsp;&nbsp;year={2022}, <br>
                              &nbsp;&nbsp;publisher={Springer} <br>
                            }
                    </code>
                    </details>
            </ul>
        <li> <a href="http://www.wsdm-conference.org/2020/"><b>WSDM'20</b></a>
            <ul>
                <li> <b>Addressing Marketing Bias in Product Recommendations</b> <br> Mengting Wan, Jianmo Ni, <b>Rishabh Misra</b>, Julian McAuley, in Proceedings of 2020 ACM Conference on Web Search and Data Mining (WSDM'20), Houston, TX, USA, Feb. 2020. (<b>15% acceptance rate</b>)
                <li> <a href="https://dl.acm.org/doi/pdf/10.1145/3336191.3371855">Paper</a> | <a href="https://github.com/MengtingWan/marketBias">Data and Code</a>
                <li> <details> <summary>Citation Information</summary>
                    <br>
                    <b>Text format</b>: {% include publications title_search="Addressing Marketing Bias in Product Recommendations" style="mla" link=true %}
                    <br> <b>BibTex format</b>: <br>
                    <code>
                            @inproceedings{wan2020addressing, <br>
                              &nbsp;&nbsp;title={Addressing marketing bias in product recommendations}, <br>
                              &nbsp;&nbsp;author={Wan, Mengting and Ni, Jianmo and Misra, Rishabh and McAuley, Julian}, <br>
                              &nbsp;&nbsp;booktitle={Proceedings of the 13th international conference on web search and data mining}, <br>
                              &nbsp;&nbsp;pages={618--626}, <br>
                              &nbsp;&nbsp;year={2020} <br>
                            }
                    </code>
                    </details>
            </ul>
        <li> <a href="http://www.acl2019.org/EN/index.xhtml"><b>ACL'19</b></a>
            <ul>
                <li> <b>Fine-Grained Spoiler Detection from Large-Scale Review Corpora</b> <br> Mengting Wan, <b>Rishabh Misra</b>, Ndapa Nakashole, Julian McAuley, in Proceedings of 57th Annual Meeting of the Association for Computational Linguistics 2019 (ACL'19), Florence, Italy, Jul. 2019. (<b>18% acceptance rate</b>)
                <li> <a href="https://www.aclweb.org/anthology/P19-1248">Paper</a> | <a href="https://sites.google.com/eng.ucsd.edu/ucsdbookgraph/home?authuser=0">Dataset</a> | <span style="color:red"><b>Media</b></span>: <a href="https://techcrunch.com/2019/07/09/spoiler-warning-this-neural-network-spots-dangerous-reviews-before-you-read-them/>TechCrunch</a>, <a href="https://www.nbclosangeles.com/news/local/SpoilerNet-UCSD-AI-Catch-Spoilers-Researchers-Studying-What-Makes-Text-Spoilery-513510001.html">NBC</a>, <a href="https://io9.gizmodo.com/a-new-study-reminds-us-how-ridiculous-spoiler-culture-h-1837171945">Gizmodo</a>, <a href="https://www.geek.com/tech/neural-network-trained-to-spot-spoilers-1795116/">Geek.com</a>, <a href="https://ucsdnews.ucsd.edu/pressrelease/SpoilerNet">UCSD News</a>/ <a href="https://www.universityofcalifornia.edu/news/hate-spoilers-ai-tool-spots-them-you">UC News</a>, <a href="https://techxplore.com/news/2019-07-spoilers-ai-tool.html">TechXplore</a>
                <li> <details> <summary>Citation Information</summary>
                    <br>
                    <b>Text format</b>: {% include publications title_search="Fine-Grained Spoiler Detection from Large-Scale Review Corpora" style="mla" link=true %}
                    <br> <b>BibTex format</b>: <br>
                    <code>
                            @article{wan2019fine, <br>
                              &nbsp;&nbsp;title={Fine-grained spoiler detection from large-scale review corpora}, <br>
                              &nbsp;&nbsp;author={Wan, Mengting and Misra, Rishabh and Nakashole, Ndapa and McAuley, Julian}, <br>
                              &nbsp;&nbsp;journal={arXiv preprint arXiv:1905.13416}, <br>
                              &nbsp;&nbsp;year={2019} <br>
                            }
                    </code>
                    </details>
            </ul>
        <li> <a href="https://recsys.acm.org/recsys18/"><b>RecSys'18</b></a>
            <ul>
                <li> <b>Decomposing Fit Semantics for Product Size Recommendation in Metric Spaces</b> <br> <b>Rishabh Misra</b>, Mengting Wan, Julian McAuley, in Proceedings of 2018 ACM Conference on Recommender Systems (RecSys'18), Vancouver, Canada, Oct. 2018. (<b>25% acceptance rate</b>)
                <li> <a href="http://cseweb.ucsd.edu/~jmcauley/pdfs/recsys18e.pdf">Paper</a> | <a href="https://github.com/rishabhmisra/Product-Catalog-Size-Recommendation-Framework">Code</a> | <a href="https://www.kaggle.com/rmisra/clothing-fit-dataset-for-size-recommendation">Datasets</a>
                <li> <details> <summary>Citation Information</summary>
                    <br>
                    <b>Text format</b>: {% include publications title_search="Decomposing fit semantics for product size recommendation in metric spaces" style="mla" link=true %}
                    <br> <b>BibTex format</b>: <br>
                    <code>
                            @inproceedings{misra2018decomposing, <br>
                              &nbsp;&nbsp;title={Decomposing fit semantics for product size recommendation in metric spaces}, <br>
                              &nbsp;&nbsp;author={Misra, Rishabh and Wan, Mengting and McAuley, Julian}, <br>
                              &nbsp;&nbsp;booktitle={Proceedings of the 12th ACM Conference on Recommender Systems}, <br>
                              &nbsp;&nbsp;pages={422--426}, <br>
                              &nbsp;&nbsp;year={2018}, <br>
                              &nbsp;&nbsp;organization={ACM} <br>
                            }
                    </code>
                    </details>
            </ul>
        <li> <a href="https://www.kde.cs.uni-kassel.de/ws/muse2015"><b>MUSE'15</b></a>
            <ul>
                <li> <b>Scalable Bayesian Matrix Factorization</b> <br> Avijit Saha*, <b>Rishabh Misra</b>*, Balaraman Ravindran, In Proceedings of the 6th International Workshop on Mining Ubiquitous and Social Environments (MUSE) @ PKDD/ECML, 2015 Sep 7 (pp. 43-54), Porto, Portugal. (* equal contribution)
                <li> <a href="https://www.kde.cs.uni-kassel.de/wp-content/uploads/ws/muse2015/papers/saha.pdf">Paper</a> | <a href="https://github.com/rishabhmisra/Scalable-Bayesian-Matrix-Factorization">Code</a>
                <li> <details> <summary>Citation Information</summary>
                    <br>
                    <b>Text format</b>: {% include publications title_search="Scalable Bayesian Matrix Factorization" style="mla" link=true %}
                    <br> <b>BibTex format</b>: <br>
                    <code>
                            @inproceedings{saha2015scalable, <br>
                              &nbsp;&nbsp;title={Scalable Bayesian matrix factorization}, <br>
                              &nbsp;&nbsp;author={Saha, Avijit and Misra, Rishabh and Ravindran, Balaraman}, <br>
                              &nbsp;&nbsp;booktitle={Proceedings of the 6th International Conference on Mining Ubiquitous and Social Environments-Volume 1521}, <br>
                              &nbsp;&nbsp;pages={43--54}, <br>
                              &nbsp;&nbsp;year={2015} <br>
                            }
                    </code>
                    </details>
            </ul>
        <li> <b>Preprints</b>
            <ul>
                <li> <b>Hotel Recommendation System</b> <br> Aditi A Mavalankar*, Ajitesh Gupta*, Chetan Gandotra*, <b>Rishabh Misra</b>*, arXiv preprint arXiv:1908.07498 (2018) *equal contribution. <a href="https://arxiv.org/pdf/1908.07498.pdf">Paper</a> <br> <details> <summary>Citation Information</summary>
                    <br>
                    <b>Text format</b>: {% include publications title_search="Hotel Recommendation System" style="mla" link=true %}
                    <br> <b>BibTex format</b>: <br>
                    <code>
                            @article{mavalankar2019hotel, <br>
                              &nbsp;&nbsp;title={Hotel recommendation system}, <br>
                              &nbsp;&nbsp;author={Mavalankar, Aditi A and Gupta, Ajitesh and Gandotra, Chetan and Misra, Rishabh}, <br>
                              &nbsp;&nbsp;journal={arXiv preprint arXiv:1908.07498}, <br>
                              &nbsp;&nbsp;year={2019} <br>
                            }
                    </code>
                    </details>
                <li> <b>Scalable Variational Bayesian Factorization Machine</b> <br> Avijit Saha, <b>Rishabh Misra</b>, Ayan Acharya, and Balaraman Ravindran, preprint 2017. <a href="https://www.researchgate.net/profile/Rishabh_Misra/publication/320408037_Scalable_Variational_Bayesian_Factorization_Machine/links/59e32a86aca2724cbfe36911/Scalable-Variational-Bayesian-Factorization-Machine.pdf">Paper</a> | <a href="https://github.com/rishabhmisra/Scalable-Variational-Bayesian-Factorization-Machine">Code</a> <br> <details> <summary>Citation Information</summary>
                    <br>
                    <b>Text format</b>: {% include publications title_search="Scalable Variational Bayesian Factorization Machine" style="mla" link=true %}
                    <br> <b>BibTex format</b>: <br>
                    <code>
                            @article{saha2017scalable, <br>
                              &nbsp;&nbsp;title={Scalable variational Bayesian factorization machine}, <br>
                              &nbsp;&nbsp;author={Saha, Avijit and Misra, Rishabh and Acharya, Ayan and Ravindran, Balaraman} <br>
                            }
                    </code>
                    </details>
            </ul>
    </ul>
    
    <h3 id="datasets">Datasets</h3>
    <ul>
         <li> <a href="https://www.kaggle.com/datasets/rmisra/politifact-fact-check-dataset"><b>Politifact Fact Check Dataset</b></a> (<span style="color:red"><b>New</b></span>)
            <ul>
                <li> We present a high-quality fact-check dataset collected from a popular fact check website <a href="https://www.politifact.com/"><i>PolitiFact</i></a>. The dataset contains 21,152 statements that are fact checked by experts. All the statements are categorized into one of 6 categories: true, mostly true, half true, mostly false, false, and pants on fire. Along with various details around fact checking, we also include sources where the statement appeared, which could be crucial for extracting various insights about fact checking. Furthermore, we provide links to the fact check article published on Politifact so that extra text can be extracted regarding the published fact check story if needed.
                <li> <a href="https://www.kaggle.com/datasets/rmisra/politifact-fact-check-dataset">Link to Kaggle page</a>
                <li> <details> <summary>Please cite these articles if you use the dataset</summary>
                        <br>
                        <b>Text format</b>: <br>
                        <ol>
                            <li> Misra, Rishabh and Jigyasa Grover. "Do Not ‘Fake It Till You Make It’! Synopsis of Trending Fake News Detection Methodologies Using Deep Learning." <i>Deep Learning for Social Media Data Analytics</i> (2022).
                            <li> Misra, Rishabh. "Politifact Fact Check Dataset." <i>DOI: 10.13140/RG.2.2.29923.22566</i> (2022).
                        </ol>
                        <br>
                        <b>BibTex format</b>: <br>
                        <code>
                            @incollection{misra2022not, <br>
                              &nbsp;&nbsp;title={Do Not ‘Fake It Till You Make It’! Synopsis of Trending Fake News Detection Methodologies Using Deep Learning}, <br>
                              &nbsp;&nbsp;author={Misra, Rishabh and Grover, Jigyasa}, <br>
                              &nbsp;&nbsp;booktitle={Deep Learning for Social Media Data Analytics}, <br>
                              &nbsp;&nbsp;pages={213--235}, <br>
                              &nbsp;&nbsp;year={2022}, <br>
                              &nbsp;&nbsp;publisher={Springer} <br>
                            } <br> <br>

                             @dataset{misra2022politifact, <br>
                              &nbsp;&nbsp;author = {Misra, Rishabh}, <br>
                              &nbsp;&nbsp;year = {2022}, <br>
                              &nbsp;&nbsp;month = {09}, <br>
                              &nbsp;&nbsp;pages = {}, <br>
                              &nbsp;&nbsp;title = {Politifact Fact Check Dataset}, <br>
                              &nbsp;&nbsp;doi = {10.13140/RG.2.2.29923.22566} <br>
                            }
                        </code>
                     </details>
            </ul>
         <li> <a href="https://rishabhmisra.github.io/NewsHeadlinesDataset.pdf"><b>News Headlines Dataset For Sarcasm Detection</b></a>
            <ul>
                <li> Past studies in Sarcasm Detection mostly make use of Twitter datasets collected using hashtag based supervision but such datasets are noisy in terms of labels and language. Furthermore, many tweets are replies to other tweets and detecting sarcasm in these requires the availability of contextual tweets. To overcome the limitations related to noise in Twitter datasets, this <b>News Headlines dataset for Sarcasm Detection</b> is collected from two news website. <a href="https://www.theonion.com/"><i>TheOnion</i></a> aims at producing sarcastic versions of current events and we collected all the headlines from News in Brief and News in Photos categories (which are sarcastic). We collect real (and non-sarcastic) news headlines from <a href="https://www.huffingtonpost.com/"><i>HuffPost</i></a>.
                <li> <a href="https://www.kaggle.com/rmisra/news-headlines-dataset-for-sarcasm-detection/">Link to Kaggle page</a> (<b>33k+ downloads on Kaggle</b>)
                <li> <details> <summary>Please cite these articles if you use the dataset</summary>
                        <br>
                        <b>Text format</b>: <br>
                        <ol>
                            <li> Misra, Rishabh and Prahal Arora. "Sarcasm Detection using Hybrid Neural Network." <i>arXiv preprint arXiv:1908.07414</i> (2019).
                            <li> Misra, Rishabh and Jigyasa Grover. "Sculpting Data for ML: The first act of Machine Learning." <i>ISBN 9798585463570</i> (2021).
                        </ol>
                        <br>
                        <b>BibTex format</b>: <br>
                        <code>
                            @article{misra2019sarcasm, <br>
                              &nbsp;&nbsp;title={Sarcasm Detection using Hybrid Neural Network}, <br>
                              &nbsp;&nbsp;author={Misra, Rishabh and Arora, Prahal}, <br>
                              &nbsp;&nbsp;journal={arXiv preprint arXiv:1908.07414}, <br>
                              &nbsp;&nbsp;year={2019} <br>
                            } <br> <br>

                             @book{misra2021sculpting, <br>
                              &nbsp;&nbsp;author = {Misra, Rishabh and Grover, Jigyasa}, <br>
                              &nbsp;&nbsp;year = {2021}, <br>
                              &nbsp;&nbsp;month = {01}, <br>
                              &nbsp;&nbsp;pages = {}, <br>
                              &nbsp;&nbsp;title = {Sculpting Data for ML: The first act of Machine Learning}, <br>
                              &nbsp;&nbsp;isbn = {9798585463570} <br>
                            }
                        </code>
                     </details>
            </ul>
         <li> <a href="https://arxiv.org/abs/2209.11429"><b>News Category Dataset</b></a>
            <ul>
                <li> People rely on daily news to know what is happening around the world. In today’s world, when the proliferation of fake news is rampant, having a large-scale and high-quality source of authentic news articles with the published category information would be valuable to learning authentic news’ Natural Language syntax and semantics. This dataset contains around 200k news headlines from the year 2012 to 2018 obtained from  <a href="https://www.huffingtonpost.com/"><i>HuffPost</i></a>. To make it more useful, I have included the source links of the news articles so that more data can be extracted as needed. Utility of this dataset is multifold: it could be used to produce interesting liguistic insights about the language used in different news articles or to simply identify untracked news articles.
                <li> <a href="https://www.kaggle.com/rmisra/news-category-dataset/">Link to Kaggle page</a> (<b>37k+ downloads on Kaggle</b>)
                <li> <details> <summary>Please cite these articles if you use the dataset</summary>
                        <br>
                        <b>Text format</b>: <br>
                        <ol>
                            <li> Misra, Rishabh. "News Category Dataset." <i>arXiv preprint arXiv:2209.11429</i> (2022).
                            <li> Misra, Rishabh and Jigyasa Grover. "Sculpting Data for ML: The first act of Machine Learning." <i>ISBN 9798585463570</i> (2021).
                        </ol>
                        <br>
                        <b>BibTex format</b>: <br>
                        <code>
                            @article{misra2022news, <br>
                              &nbsp;&nbsp;title={News Category Dataset}, <br>
                              &nbsp;&nbsp;author={Misra, Rishabh}, <br>
                              &nbsp;&nbsp;journal={arXiv preprint arXiv:2209.11429}, <br>
                              &nbsp;&nbsp;year={2022} <br>
                            } <br> <br>

                             @book{misra2021sculpting, <br>
                              &nbsp;&nbsp;author = {Misra, Rishabh and Grover, Jigyasa}, <br>
                              &nbsp;&nbsp;year = {2021}, <br>
                              &nbsp;&nbsp;month = {01}, <br>
                              &nbsp;&nbsp;pages = {}, <br>
                              &nbsp;&nbsp;title = {Sculpting Data for ML: The first act of Machine Learning}, <br>
                              &nbsp;&nbsp;isbn = {9798585463570} <br>
                            }
                        </code>
                     </details>
            </ul>
         <li> <a href="https://cseweb.ucsd.edu//~jmcauley/pdfs/recsys18e.pdf"><b>Clothing Fit Dataset for Size Recommendation</b></a>
            <ul>
                <li> Product size recommendation and fit prediction are critical in order to improve customers’ shopping experiences and to reduce product return rates. However, modeling customers’ fit feedback is challenging due to its subtle semantics, arising from the subjective evaluation of products and imbalanced label distribution (most of the feedbacks are "Fit"). These datasets, which are the only fit related datasets available publically at this time, collected from <a href="https://www.modcloth.com/"><i>ModCloth</i></a> and <a href="https://www.renttherunway.com/"><i>RentTheRunWay</i></a> could be used to address these challenges to improve the recommendation process.
                <li> <a href="https://www.kaggle.com/rmisra/clothing-fit-dataset-for-size-recommendation/">Link to Kaggle page</a> (<b>7k+ downloads on Kaggle</b>)
                <li> <details> <summary>Please cite these articles if you use the dataset</summary>
                        <br>
                        <b>Text format</b>: <br>
                        <ol>
                            <li> Misra, Rishabh, Mengting Wan, and Julian McAuley. "Decomposing fit semantics for product size recommendation in metric spaces." In <i>Proceedings of the 12th ACM Conference on Recommender Systems</i>, pp. 422-426. 2018.
                            <li> Misra, Rishabh and Jigyasa Grover. "Sculpting Data for ML: The first act of Machine Learning." <i>ISBN 9798585463570</i> (2021).
                        </ol>
                        <br>
                        <b>BibTex format</b>: <br>
                        <code>
                            @inproceedings{misra2018decomposing, <br>
                              &nbsp;&nbsp;title={Decomposing fit semantics for product size recommendation in metric spaces}, <br>
                              &nbsp;&nbsp;author={Misra, Rishabh and Wan, Mengting and McAuley, Julian}, <br>
                              &nbsp;&nbsp;booktitle={Proceedings of the 12th ACM Conference on Recommender Systems}, <br>
                              &nbsp;&nbsp;pages={422--426}, <br>
                              &nbsp;&nbsp;year={2018}, <br>
                              &nbsp;&nbsp;organization={ACM} <br>
                            } <br> <br>

                             @book{misra2021sculpting, <br>
                              &nbsp;&nbsp;author = {Misra, Rishabh and Grover, Jigyasa}, <br>
                              &nbsp;&nbsp;year = {2021}, <br>
                              &nbsp;&nbsp;month = {01}, <br>
                              &nbsp;&nbsp;pages = {}, <br>
                              &nbsp;&nbsp;title = {Sculpting Data for ML: The first act of Machine Learning}, <br>
                              &nbsp;&nbsp;isbn = {9798585463570} <br>
                            }
                        </code>
                     </details>
            </ul>
        <li> <a href="https://rishabhmisra.github.io/IMDBSpoilerDataset.pdf"><b>IMDB Spoiler Dataset</b></a>
            <ul>
                <li> User-generated reviews are often our first point of contact when we consider watching a movie or a TV show. However, beyond telling us the qualitative aspects about the item we want to consume, reviews may inevitably contain undesired revelatory information (i.e. 'spoilers') such as the surprising fate of a character in a movie, or identity of a murderer in a crime-suspense movie etc. For users who are interested in consuming the item but are unaware of the critical plot twists, spoilers may decrease the excitement regarding the pleasurable uncertainty and curiosity of media consumption. Therefore, a natural question is how to identify these spoilers in entertainment reviews, so that users can more effectively navigate review platforms. This dataset is collected from IMDB and contains meta-data about items as well as user reviews with information regarding whether a review contains a spoiler or not.
                <li> <a href="https://www.kaggle.com/rmisra/imdb-spoiler-dataset">Link to Kaggle page</a> (<b>2k+ downloads on Kaggle</b>)
                <li> <details> <summary>Please cite these articles if you use the dataset</summary>
                        <br>
                        <b>Text format</b>: <br>
                        <ol>
                            <li> Misra, Rishabh. "IMDB Spoiler Dataset." <i>DOI: 10.13140/RG.2.2.11584.15362</i> (2019).
                        </ol>
                        <br>
                        <b>BibTex format</b>: <br>
                        <code>
                        @dataset{misra2019imdb, <br>
                          &nbsp;&nbsp;author = {Misra, Rishabh}, <br>
                          &nbsp;&nbsp;year = {2019}, <br>
                          &nbsp;&nbsp;month = {05}, <br>
                          &nbsp;&nbsp;pages = {}, <br>
                          &nbsp;&nbsp;title = {IMDB Spoiler Dataset}, <br>
                          &nbsp;&nbsp;doi = {10.13140/RG.2.2.11584.15362} <br>
                        }
                        </code>
                     </details>
            </ul>
     </ul>
     
<!--      <h3 id="citations">Citations</h3>
     <ul>
         <li> <a href="https://scholar.google.com/citations?user={{ site.data.scholar.id }}"><b>Scholar Profile</b></a>
         <li> Citations: {{ site.data.scholar.citations }}
         <li> h-index: {{ site.data.scholar.h_index }}
         <li> i10-index: {{ site.data.scholar.i10_index }}
     </ul>  -->
</div>

<div>


</div>
