---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
  <article class="list-item">
    <span class="li-meta">{{ post.date | date: "%B %Y" }}</span>
    <div class="li-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </div>
    <div class="li-desc">
      <p>
        {{ post.excerpt | strip_html | truncate: 180 }}
      </p>
    </div>
    <a class="see-all-link" href="{{ site.baseurl }}{{ post.url }}"
      style="float: none; margin-top: 12px; display: inline-block;">Read More →</a>
  </article>
  {% endfor %}
</div>